extends layout

block content
 h1= title
  - let hauntedplacesid = toShow._id
  - let hauntedplacesaddress = toShow.address
  - let hauntedplacesyear = toShow.year
  - let hauntedplacesdescription = toShow.description