extends layout

block content
 h1= title
  form(id='Haunted_placesForm', action="/resource/haunted_places", method="POST")
    div.form-group
     label.hauntedplacesAttr(for='address') Address of haunted place: 
     input#address(type='text', name='address')
    div.form-group
     label.hauntedplacesAttr(for='year') Year of incident happened: 
     input#year(type='number', name='year')
    div.form-group
     label.hauntedplacesAttr(for='description') Description of the incident: 
     input#description(type='text', name='description')
    input(type="submit")

  script.
    document.forms['Haunted_placesForm'].addEventListener('submit', (event) => {
     event.preventDefault();
     // TODO do something here to show user that form is being submitted
     fetch(event.target.action, {method: 'POST', body: new URLSearchParams(new FormData(event.target))}).then((resp) => {return resp.json(); }).then((body) => {alert("Save succeded")}).catch((error) => {alert("Save failed " + error )});});

    