extends layout

block content
 h1= title
  form(id='Haunted_placesForm', action="/resource/haunted_places", method="POST")
    div.form-group
     label.costumeAttr(for='address') Haunted Places Address
     input#costume_type(type='text', name='address')
    div.form-group
     label.costumeAttr(for='year') Haunted Places Year
     input#size(type='number', name='yea')
    div.form-group
     label.costumeAttr(for='description') Haunted Places Description
     input#cost(type='text', name='description')
     input(type="submit")

  script.
    document.forms['CostumeForm'].addEventListener('submit', (event) => {
     event.preventDefault();
     // TODO do something here to show user that form is being submitted
     fetch(event.target.action, {method: 'POST', body: new URLSearchParams(new FormData(event.target))}).then((resp) => {return resp.json(); }).then((body) => {alert("Save succeded")}).catch((error) => {alert("Save failed " + error )});});

    